<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Student Form</h1>
    <form action="" method="post">
    {%csrf_token%}

    <label for="">name</label>
    <input type="text" name="studentname">

    <label for="">roll_no</label>
    <input type="text" name="studentroll">

    <label for="">department</label>
    <input type="text" name="studentdepartment">

    <label for="">email</label>
    <input type="text" name="studentemail">

    <label for="">marks</label>
    <input type="text" name="studentmarks">

    <button type="submit">Add student</button>
    </form>
    
</body>
</html>